<header>
  <h1 class="title">
    UTutors
  </h1>
  <h5 class="subtitle">
    Now I am become Death, Destroyer of Worlds
  </h5>
</header>
<div class="body">
  <main>
      <router-outlet class="router"></router-outlet>
  </main>
  <nav class="nav">
    <h2 class="menu__title">Menu</h2>
    <ul>
        <li>
            <a routerLink="">Home</a>
        </li>
        <li>
            <a routerLink="/contact">Contact Us</a>
        </li>
        <li>
          <a routerLink="/tutorform">Tutor Sign Up</a>
        </li>
        <li>
          <a routerLink="/studentform">Student Sign Up</a>
        </li>
    </ul>
  </nav>
</div>
<footer>
</footer>